streamlit
earthengine-api
geemap
folium
geopandas
matplotlib
rasterio
shapely
torch
segmentation-models-pytorch
pystac-client
planetary-computer
stackstac
gdown
dask
xarray
rioxarray
numpy
pandas
requests
Pillow
