streamlit
earthengine-api
geemap
folium
matplotlib
numpy
Pillow
pandas
geopandas
gdown
torch
rasterio
shapely
segmentation-models-pytorch
pystac-client
planetary-computer
stackstac
dask
requests
